In [ ]:
def sayHello():
  print(1)
  print(2)

In [5]:
sayHello()

1
2

In [ ]:
def getSum(a, b):
  print(a + b)
  return a + b

In [12]:
result = getSum(10, 20)
print(result)

30
30

In [17]:
#파이썬의 함수는 return 데이터를 여러개 가질 수 있음
def getNumber():
  return 10, 20, 30

In [18]:
r1, r2, r3 = getNumber()
print(r1, r2, r3)

10 20 30

In [21]:
#파이썬은 매개변수에 데이터를 전달할 때 매개변수명을 활용할 수 있음
def printInfo(name, age):
  print(f'이름은 {name}이고, 나이는 {age}입니다.')

In [ ]:
printInfo('kim', 20)
printInfo(name='park', age='25')
printInfo(age=30, name='lee')

이름은 kim이고, 나이는 20입니다.
이름은 park이고, 나이는 25입니다.
이름은 lee이고, 나이는 30입니다.
이름은 30이고, 나이는 ch입니다.