In [ ]:
#키보드로 정수를 입력받아, 입력받은 정수가 짝수면 '1'을 출력, 홀수면 '2'를 출력
#입력받은 수가 0이면 '0입니다'를 출력하는 코드 작성

In [ ]:
#키보드로 입력받은 단수의 구구단 출력
#ex> 3입력 받으면 3단 출력
# 3 * 1 = 3
# 3* 2 = 6
# ...
# 3 * 9 = 27

In [ ]:
#다음 두 리스트에 존재하는 모든 요소의 합을 구하시오.
list1 = [1, 3, 5]
list2 = [10, 15, 20]

In [ ]:
#키보드로 입력받은 세 정수 * 2한 값을 요소로 갖는 리스트를 생성하고 출력하세요.
#ex> 입력 : 1,5,10 -> 결과 : [2, 10, 20]

In [ ]:
#다음의 데이터에서 't' 의 갯수를 구하시오.
#힌트 : 파이썬은 문자열도 리스트이기에 반복문을 사용할 수 있음
data = ['brother', 'mother', 'sister']

In [ ]:
# 아래의 딕셔너리 데이터를 참고하여 문제 해결
student = {
  'name' : 'hong',
  'korScore' : 0,
  'mathScore' : 0,
}

In [ ]:
#위에서 선언한 딕셔너리 데이터의 국어점수 및 수학점수 데이터를 키보드로 입력받은 데이터로 변경하시오

In [ ]:
#위의 딕셔너리 데이터에 총점(totalScore) 키를 추가하고, value의 값는 국어와 수학점수의 합으로 지정하시오.

In [ ]:
scores = {
  'korScore' : 90,
  'engScore' : 80,
  'mathScore' : 86
}
# 매개변수로 전달되는 학생점수 딕셔너리의 모든점수의 합을 리턴하는 함수를 선언하고 호출해보세요.

In [ ]:
#매개변수로 두 리스트가 전달되면 두 리스트의 모든 요소에서 짝수 데이터만 가진 리스트를 리턴하는 함수를 선언하고 호출하세요. 단, 두 리스트의 데이터는 중복이 없다고 가정한다.
#ex> 첫번째 매개변수 : [1,2,5], 두번째 매개변수 : [4, 7, 10] -> 결과 : [2,4,10]

In [ ]:
'''
매개변수로 문자열 리스트가 전달되면 리스트의 문자열과 문자열의 길이를 딕셔너리로 리턴하는 함수를 선언하고 호출해보세요. 
len(문자열) 을 사용하면 문자열의 길이를 알수 있음
#ex> 매개변수 : ['apple', 'banana', 'orange']
결과 : {
  'apple' : 5,
  'banana' : 6,
  'orange' : 6
}
'''

1